.parent {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
 /*  grid-template-rows: 1fr repeat(2, 0.5fr) */ /* repeat(8, 1fr) */; 
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color:#ffffff;
  
  }

.menu { 
  grid-area: 1 / 1 / 2 / 10;
  background-color:#4F4F4F;
  text-align:right; 
  height: 100px;
  
}
/* Cabeçalho */
.topo { 
  grid-area: 2 / 1 / 4 / 10;
  background-color:#ffffff;
  height: 500px; 
  }

.topo-inner{
   height: 500px;
  
  
  } 


.topo-inner img{
  /* min-height: 200px; */
  width: 200px;
  float: right;
  margin-top: -40px;

} 

.topo-inner p{
  /* min-height: 200px; */
  float: left;
  padding-left: 40px;
  margin-top: 30px;
 

} 

h3.tituloheader{
  font-family: 'Poppins', sans-serif;
  font-weight:bold;
  text-align:left;
  padding-left: 40px;
  margin-top: 30px;
  padding-top: 80px;
  font-size: 35px;
  
  
  
}
  
/* Sobre e habilidades grid */
.sidebar1 { 
  grid-area: 6 / 2 / 7 / 5;
  background-color:#F5F5F5;
  margin-top: 200px;
  text-align:justify;
  margin-right: 10px;
 }
.sidebar2 { 
  grid-area: 6 / 5 / 7 / 8; 
  background-color:#F5F5F5; 
  text-align:justify;
  margin-left: 40px;
  margin-top: 200px;
}
/* Sobre mim titulo */
  #h2{
  grid-column: 2 / 8;
  grid-row: 6 / 6;
  margin-top: 120px;
  background-color: #ffffff;
  height: 50px;
  text-align: center;
  /* text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: blue; */
  text-underline-offset: 5px;
  /* text-decoration-skip-ink: auto; */
  font-family: 'Poppins', sans-serif;
  color: #000000;
  background-image: linear-gradient(to right, #000000, #000000 50%, transparent 50%, transparent);
  background-position:  56% calc(98% - 1px);
  background-size: 20% 3px;
  background-repeat: no-repeat;
  
}


/* Depoimentos titulo */
  #testmonials{
  grid-column: 2 / 8;
  grid-row: 7 / 7;
  margin-top: 40px;
  background-color: #ffffff;
  height: 50px;
  text-align: center;
  text-underline-offset: 10px;
  font-family: 'Poppins', sans-serif;
  font-family: 'Poppins', sans-serif;
  color: #000000;
  background-image: linear-gradient(to right, #000000, #000000 50%, transparent 50%, transparent);
  background-position:  56% calc(98% - 1px);
  background-size: 20% 3px;
  background-repeat: no-repeat;
  
}
/* Rodapé */
.footer { 
  grid-area: 12 / 1 / 13 / 9; 
  background-color: #363636;
    
      }
/* Grid Depoimentos */
.corpo { 
  grid-area: 7 / 2 / 9 / 8; 
  background-color:#FFFFFF;
  margin-top: 120px;}

  /* Titulo do cabeçalho */


/* Titulo das grids */
h3.tituloh3 {
  font-family: 'Montserrat';
  font-size:23px;
  text-align:center;
  letter-spacing: 2px;
  padding-top: 20px;
  

}
/* Portfólio */
.portfolio{ grid-area: 9 / 1 / 12 / 9;
   margin-top: 15%;
   background-color:#F5F5F5;
   margin-bottom: 50px; }

/* /* titulo portfolio */
  #tituloportfolio{
  grid-column: 1 / 11;
  grid-row: 9 / 10;
  margin-top: 90px;
  background-color: #ffffff;
  height: 50px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to right, #000000, #000000 50%, transparent 50%, transparent);
  background-position:  53% calc(98% - 1px);
  background-size: 12% 3px;
  background-repeat: no-repeat;
  text-underline-offset: 5px;
  color: #000000;  
} 



/* Menu */
#menu-h{
    background-color: #ffffff;
    text-align:right;
    
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
    text-align:right;
}

#menu-h ul li {
    display: inline;
    text-align:right;
}

#menu-h ul li a {
    color: #000;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
    text-align:right;
}

#menu-h ul li a:hover {
    background-color: #FFFACD;
}

#menu-h ul li:last-child a {
    float: right;
    background-color: #FFFACD;
}

/* Testmonials */


p.textosidebar{
  text-align:right;
  padding-right: 10px;
}




 .header-container {
  position: relative;
  grid-area: 5 / 2 / 6 / 4;
  margin-left: 5px;
  margin-top: 20px;  
} 

.header {
  background-color:#F5F5F5; 
  text-align:center;
  height: 200px;
  width:300px;
  border-radius: 20px;
  box-shadow: 3px 5px 5px 7px #c3c1c1;
  
}

.header2-container {
  position: relative;
  grid-area: 5 / 4 / 6 / 6;
  margin-left: 20px;
  margin-top: 20px; 
}

.header2 {
  background-color:#F5F5F5; 
  text-align:center;
  height: 200px;
  width:300px;
  border-radius: 20px;
  box-shadow: 3px 5px 5px 7px #c3c1c1;
  
}

.header3-container {
  position: relative;
  grid-area: 5 / 6 / 6 / 8;
  margin-left: 30px;
  margin-top: 20px; 

}

.header3 {
  background-color:#F5F5F5;
  text-align:center;
  height: 200px;
  width:300px;
  border-radius: 20px;
  box-shadow: 3px 5px 5px 7px #c3c1c1;
  
 
  
}

/* Portfolio grid */ */
.tituloport-container {
  grid-column: 1 / 11;
  grid-row: 9 / 10;
  text-align: center;
  align-self: end; 
  background-color: #ffffff;
  position: relative;
  height: 40px;
  
}

.depoimentos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  max-width: 80%;

}

.coluna {
  flex-basis: 30%;
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.coluna:last-child {
  margin-right: 0;
}

.coluna img {
  display: block;
  width: 40%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
}

.coluna h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.coluna p {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 0;
}
.contato{
  background-color: #000;
}
form {
  margin: 0 auto;
  width: 600px;
  padding: 12px;
  border: 1px solid #CCC;
  border-radius: 12px;
}

form div + div {
  margin-top: 18px;
}

label {
  display: inline-block;
  width: 200px;
  text-align: left;
  color: #fff;
}

input, textarea {
  font: 12px sans-serif;
  width: 500px;
  box-sizing: border-box;
  border: 1px solid #999;
}



textarea {
  vertical-align: top;
  height: 90px;
}

.button {
  padding-right: 90px;
}

button {
  margin-left: 70px;
}

#contato{
  grid-column: 1 / 11;
  grid-row: 12 / 9;
  margin-top: 90px;
  background-color: #ffffff;
  height: 50px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to right, #000000, #000000 50%, transparent 50%, transparent);
  background-position:  53% calc(98% - 1px);
  background-size: 12% 3px;
  background-repeat: no-repeat;
  text-underline-offset: 5px;
  color: #000000;  
} 