/* Menu */
.menu-icon {
  display: none;
  cursor: pointer;
}

.menu-list {
  display: flex;
  justify-content: right; /* Centralizar horizontalmente */
  align-items: right; /* Centralizar verticalmente */
  list-style: none;
  padding: 0;
  padding-top: 15px;
  padding-right: 20px;
}

.menu-list li {
  margin-left: 20px;
  text-decoration: none;
  list-style: none;
  text-align: center;
}


/* Corpo */

body{
  background-color: #313131;
}

/* Cabeçalho */
.header{
  background-image: url(https://images.pexels.com/photos/2473183/pexels-photo-2473183.jpeg);
  background-position: center;
  background-size:cover;
  background-color:#000000;
  height: 100%; 
  width: 100%;
  color:#F5F5F5;
  margin: 0 auto;
  
}
/* titulo cabeçalho e imagem */
h3.titleheader{
  font-family: 'Poppins', sans-serif;
  font-weight:bold;
  text-align:left;
  padding-left: 40px;
  margin-top: 30px;
  padding-top: 80px;
  font-size: 35px;
}
.header img{
  margin-left: 120px;
  margin-top: -80px;
  margin-right: 20px;
}
/* titulo serviços e div serviços */
h3.titleservices {
  font-family: 'Montserrat';
  font-size:18px;
  text-align:center;
  letter-spacing: 2px;
  margin-top: 20px;
  text-transform: uppercase;
}
.services-group{
  width: 75vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  flex-wrap: wrap;
}
.services{
  margin: 0 auto;
  width: 25%;
  height: 10%;
  background-color: #F5F5F5;
  color: #000000;
  margin-top: 10px;
  padding-left: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
  text-align: justify;
  padding: 5px;
  max-width: 100%;
  word-wrap: break-word;
}

#security{
  margin-left:120px;
}
#support{
  margin-left: 120px;
}
/* outros titulos */
h3.tituloh3 {
  font-family: 'Montserrat';
  font-size:24px;
  text-align:center;
  letter-spacing: 2px;
  padding-top: 15px;
  text-transform: uppercase;
  color:	#9370DB;
  
  
}
/* icones */
.fa-3x{
  text-align: center;
}
/* principal */
main{
  background-color: #313131;
  height: 100%;
}
/* titulo serviços */
h3.titleh3{
  color:	#000000;
  font-size:24px;
  font-family: 'Montserrat';
  font-size:18px;
  text-align:center;
  letter-spacing: 2px;
  padding-top: 15px;
  text-transform: uppercase;
  
}
/* sobre mim */
.aboutme{
  width: 70vw;
  height: 100%; 
  margin: 0 auto;
  color:#F5F5F5;
  background-color: #000000;
  border-radius: 10px;
  overflow:hidden;
  padding-top: 15px;
  text-align: left;
  position: relative; 
  top: 20px;
  
}
.about-items{
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}
.abouttext{
  width: 50%;
  text-align: justify;
  padding-left: 10px;
  flex: 1; /*  50% da largura na mesma linha, ou 100% da largura na próxima linha */
  max-width: 500px;
}
.aboutimg{
  width: 50%;
  flex: 1; /* Ocupará 50% da largura na mesma linha, ou 100% da largura na próxima linha */
  max-width: 200px;
  
}
.aboutme img {
  width: 35%;
  border-radius: 50%;
  margin-bottom: 20px;

  display: block;
  width: 100%;
  height: auto;
}
/* 
habilidades */
.skills{
  margin: 0 auto;
  width: 90vw;
  height: 100%;
  color:#F5F5F5;
  background-color: #000000;
  border-radius: 10px;
  margin-top: 30px;
  padding-top: 15px;
  

}
.containerskills{
  width: 70%;
  display: flex;
  margin: 0 auto;
  
  flex-wrap: wrap;
  justify-content: space-between;
 
}
.skillsimg{
  color:#F5F5F5;
  margin: 0 auto;
  width: 50%; 
  padding-bottom: 10px;
  background-color: #313131;
  flex-basis: calc(50% - 10px); /* A largura dos itens é definida para ocupar metade do container, menos o espaço entre eles */
  margin-bottom: 20px;
  padding-top: 15px;
  border-radius: 10px;
  padding: 0 auto;
  padding-left: 30px;
  
}

p.tecnologias {
  font-family: 'Poppins', sans-serif;
  margin-left: -100px;
  text-align: center;
 
}


.skillsimg img{
  border: 5px solid #9370DB;;
  background-color: #313131;
  display: block;
  width: 70%;
  height: 200px;
  
 }
/* portfolio */
 .portfolio{
  width: 90%;
  margin: 0 auto;
  background-color: #000000;
  color:#F5F5F5;
  height: 100%;
  border-radius: 10px;
 }

  .card-group{
    width: 70%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
   
  }
  .card-body{
    background-color: #000000;
    color:#F5F5F5;
  }

  p.card-text, h5.card-title{
    color:#F5F5F5;
  
  }
 /* rodapé */
  footer{
    background: rgb(22,22,22);
    background: linear-gradient(90deg, rgba(22,22,22,1) 0%, rgba(0,0,0,1) 35%, rgba(61,53,53,1) 100%);
  }
  .contactme{
    margin: 0 auto;
    width: 25vw;
    height: 110px;
    flex-wrap: wrap;
    flex-flow: row wrap;
    background-color: transparent;
    color: #fdfbfb;
    margin-top: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    text-align: justify;
    align-content: center;
 
  }
  

  .social{
    width: 75vw;
    margin: 0 auto;
    height: 100%;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

  
  }
 .fa-twitter{
  color: #00acee;
 }
 .fa-facebook{
  color: #3b5998;
 }

 .fa-linkedin{
  color:#0e76a8;
 }

 .fa-whatsapp{
  color:#25D366;
 }
  .footer{
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color:#9370DB;
  } 
  #others ul li{
    display: inline;
    text-align: center;
    padding-left: 5px;
    list-style: none;
  }
  #others a{
    text-decoration: none;
  }
  #socialmedia ul li{
    display: inline;
    text-align: center;
    padding-left: 12px;
    
  }

  #contact ul li {
    text-align: center;
    padding-top: 5px;
    list-style: none;
  }
  #contact a {
    text-decoration: none;
  }

/* Estilos para telas grandes */
@media screen and (min-width: 992px) {
 

  .services-group {
    width: 80%; /* Reduz a largura do grupo de serviços */
  }

  .services {
    width: 25%; /* Reduz a largura dos serviços */
    margin-left: 20px; /* Adiciona margem à esquerda */
    margin-bottom: 20px; /* Adiciona margem inferior */
  }

  .aboutme {
    width: 70%; /* Reduz a largura do bloco "Sobre Mim" */
  }

  .skills {
    width: 70%; /* Reduz a largura do bloco de habilidades */
  }

  .containerskills {
    width: 80%; /* Reduz a largura do container de habilidades */
  }

  .skillsimg {
    width: 15%; /* Reduz a largura dos ícones de habilidades */
  }

  .portfolio {
    width: 70%; /* Reduz a largura do bloco de portfólio */
  }

  .card-group {
    width: 90%; /* Reduz a largura do grupo de cartões */
  }

  .contactme {
    width: 20vw; /* Reduz a largura dos blocos de contato */
  }
}

/* Estilos para dispositivos móveis */
@media screen and (max-width: 767px) {
  .menu-icon {
    display: inline-block;
  }

  .menu-list {
    display: none;
  }

  .menu-list.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .services-group {
    width: 80%; /* Define a largura completa para o grupo de serviços */
    flex-direction:column;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    
  
  }

  .services {
    width: 75%; /* Define a largura completa para os serviços */
    height: 200px;
    margin: 0 auto;
    margin-top: 20px;


  }
  #security{
    margin: 0 auto;
    margin-top: 10px;
  }
  #support{
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .aboutme {
    width: 90%; /* Define a largura completa para o bloco "Sobre Mim" */
  }

  .skills {
    width: 90%; /* Define a largura completa para o bloco de habilidades */
  }

  .containerskills {
    width: 100%; /* Define a largura completa para o container de habilidades */
    flex-direction: column;
  }

  .skillsimg {
    width: 40vw; /* Ajusta a largura dos ícones de habilidades */
    
  }

  .portfolio {
    width: 90%; /* Define a largura completa para o bloco de portfólio */
  }

  .card-group {
    width: 100%; /* Define a largura completa para o grupo de cartões */
  }
  .social{
    flex-direction: column;
    padding-top: 20px;
  }
  .contactme {
    width: 90%; /* Ajusta a largura dos blocos de contato */
   
    
  }
}
