.menu { 
  background-color:transparent;
  text-align:center; 
  height: 30px;
  margin: 0 auto;
  padding-top: 20px;
 
}

nav ul li {
  display: inline;
  margin: 15px;
  justify-content: center;
  text-align: center;
 
}
nav a{
  text-decoration: none;
}
body{
  background-color: #313131;
}

.cabecalho{
  background-image: url(https://images.pexels.com/photos/2473183/pexels-photo-2473183.jpeg);
  background-position: center;
  background-size:cover;
  background-color:#000000;
  height: 100%; 
  width: 100%;
  color:#F5F5F5;
  margin: 0 auto;
  
}
h3.titleheader{
  font-family: 'Poppins', sans-serif;
  font-weight:bold;
  text-align:left;
  padding-left: 40px;
  margin-top: 30px;
  padding-top: 80px;
  font-size: 35px;
}
.cabecalho img{
  margin-left: 120px;
  margin-top: -80px;
  margin-right: 20px;
}
h3.titleservices {
  font-family: 'Montserrat';
  font-size:18px;
  text-align:center;
  letter-spacing: 2px;
  margin-top: 20px;
  text-transform: uppercase;
}
.services-group{
  width: 75%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
.services{
  margin: 0 auto;
  width: 25%;
  height: 10%;
  background-color: #F5F5F5;
  color: #000000;
  margin-top: 10px;
  padding-left: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
  text-align: justify;
  padding: 5px;
}

#security{
  margin-left:120px;
}
#support{
  margin-left: 120px;
}
h3.tituloh3 {
  font-family: 'Montserrat';
  font-size:18px;
  text-align:center;
  letter-spacing: 2px;
  padding-top: 15px;
  text-transform: uppercase;
}
.fa-3x{
  text-align: center;
}
main{
  background-color: #313131;
}
.aboutme{
  width: 90%;
  height: 100%;
  margin: 0 auto;
  margin-top: 20px;
  color:#F5F5F5;
  background-color: #000000;
  border-radius: 10px;
  overflow:hidden;
  padding-top: 20px;
  text-align: left;
  
}
.about-items{
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}
.abouttext{
  width: 50%;
  text-align: justify;
  padding-left: 10px;
}
.aboutimg{
  width: 50%;
  
}
.aboutme img {
  width: 35%;
  border-radius: 50%;
  margin-bottom: 20px;
  
}
.skills{
  margin: 0 auto;
  width: 90%;
  height: 100%;
  color:#F5F5F5;
  background-color: #000000;
  border-radius: 10px;

}
.containerskills{
  width: 60%;
  display: flex;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pratos{
  color:#F5F5F5;
  margin: 0 auto;
  width: 20%;
  padding-bottom: 10px;

}
.pratos img{
  border: 5px solid rgb(99, 43, 43);
  background-color: #F5F5F5;

 }

 .portfolio{
  width: 90%;
  margin: 0 auto;
  background-color: #000000;
  color:#F5F5F5;
  height: 100%;
 }

  .card-group{
    width: 70%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
   
  }
  .card-body{
    background-color: #000000;
    color:#F5F5F5;
  }

  p.card-text, h5.card-title{
    color:#F5F5F5;
  
  }

  footer{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(30,3,73,1) 35%, rgba(11,5,1,1) 100%);  
   margin-top: 5px;
  }
  .contactme{
  margin: 0 auto;
  width: 25%;
  height: 200px;
  flex-wrap: wrap;
  flex-flow: row wrap;
  background-color: transparent;
  color: #fdfbfb;
  margin-top: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
  text-align: justify;
  align-content: center;
 
  }
  

  .social{
    width: 75vw;
    margin: 0 auto;
    height: 100%;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

  
  }
 .fa-twitter{
  color: #00acee;
 }
 .fa-facebook{
  color: #3b5998;
 }

 .fa-linkedin{
  color:#0e76a8;
 }

 .fa-whatsapp{
  color:#25D366;
 }
  .footer{
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  } 
  #others ul li{
    display: inline;
    text-align: center;
    padding-left: 5px;
    list-style: none;
  }
  #others a{
    text-decoration: none;
  }
  #socialmedia ul li{
    display: inline;
    text-align: center;
    padding-left: 12px;
    
  }

  #contact ul li {
    text-align: center;
    padding-top: 5px;
    list-style: none;
  }
  #contact a {
    text-decoration: none;
  }